#body {
    background-image: linear-gradient(to right, indigo,blue,green,yellow,orange,red);
    background-size: cover;
  }
h1 {
    text-align: left;
    Color: dodgerblue;
    Font-size:60px;
}
h2 {
    text-align: center;
    Color: black;
    Font-size:40px;
}
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, indigo,blue,green,yellow,orange,red)
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: purple;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: dodgerblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: powderblue}

.dropdown:hover .dropdown-content {
    display: block;
}